.EU4h34WzkaF98g0T {
  padding: 40px;

  min-height: 120px;
  width: 700px;

  border: 3px solid orange;
  border-radius: 10px;
}

.Slv6s7D0yllQX7pc {
  color: blueviolet;
  font-size: 40px;
  font-weight: bold;

  padding: 10px;
  border-radius: 4px;
  border: 2px solid grey;
}

.iCc2JyEEHoKuV_dW {
  padding-top: 40px;
  display: flex;
  gap: 10px;
}
.s5rsjw_3GnfENin_ {
  font-size: 20px;
  font-weight: bold;

  border: 1px solid grey;
}

